<!--
	此示例下载自 https://echarts.apache.org/examples/zh/editor.html?c=line-stack
-->
<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <input id="fieldName" type="hidden" value="<%= JSON.stringify(fieldName) %>">
  <input id="zoom" type="hidden" value="<%= zoom %>">
  <div id="container" style="height: 100%"></div>
  <script type="text/javascript" src="js/chart_option.js" ></script>
  <script type="text/javascript" src="vendor/echarts/echarts5.3.3.min.js"></script>
  
  <!--<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>-->
  <!-- Uncomment this line if you want to dataTool extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.0/dist/extension/dataTool.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use gl extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
  -->
  <!-- Uncomment this line if you want to echarts-stat extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use map
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>
  -->
  <!-- Uncomment these two lines if you want to use bmap extension
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.0/dist/extension/bmap.min.js"></script>
  -->

  <script type="text/javascript">
    
    var dom = document.getElementById('container');
    var max = 500;
    var fieldName = JSON.parse(document.getElementById("fieldName").value);
    var zoom = JSON.parse(document.getElementById("zoom").value);
    if(fieldName.hasOwnProperty('voltage')) {
      delete fieldName.voltage;
    }
    var fields = Object.keys(fieldName);
    var titles = Object.values(fieldName);
    var isFirst = true;
    var title = "<%= title%>";
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option = lineOption;
    //console.log('line option 1 :');
    //console.log(option);

    if(fieldName) {
      option = getLoraLineOption(title, fields, titles, null, zoom);
    }

    //console.log('line option 2 :');
    //onsole.log(option);


    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);

    setTimeout(function () {
      myChart.resize;
    }, 3000);


    function changeTheme(check) {
      myChart.dispose();
      let Theme = (check==2) ? 'dark' : 'light';
      //基于准备好的dom，初始化echarts实例
      myChart = echarts.init(document.getElementById('container'), Theme);
      //使用刚指定的配置项和数据显示图表
      myChart.setOption(option);
    }

    function refreshLoraLineData(data){
        //刷新單筆数据
        let origin_option = myChart.getOption();
        for(let j=0; j < fields.length; ++j) {
            let key = fields[j];
            origin_option.series[j].data.push(data['information'][key]);
            if(isFirst || origin_option.series[j].data.length>max) {
              origin_option.series[j].data.shift();
            } 
        }
        let date = data['recv'];
        date = new Date(date);
        date = date.toLocaleString();
        origin_option.xAxis[0].data.push(date);
        if(isFirst) {
          origin_option.xAxis[0].data.shift();
          isFirst = false;
        } 
        if(origin_option.xAxis[0].data.length>max) {
          origin_option.xAxis[0].data.shift();
        }
        myChart.setOption(origin_option, true);
    }

    function loadLoraLineDatas(datas){
      //多筆数据
      let origin_option = myChart.getOption();
      var mData = {"time":[]};
      var list = JSON.parse(JSON.stringify(datas));
      for(let i=0; i < list.length; ++i) {
        let report = list[i];
        let time = report.date;
        mData['time'].push(time);
        for(let i=0; i < fields.length; ++i) {
            let key =  fields[i];
            ;
            if(mData[key] == undefined) {
                mData[key] = [];
            }
            mData[key].push(report.information[key])
        }
      }
      origin_option.xAxis[0].data = mData.time;

      for(let j=0; j < fields.length; ++j) {
          let key = fields[j];
          origin_option.series[j].data = mData[key];
      }
     
      myChart.setOption(origin_option, true);
    }

    function clearData(){
        //清除数据
        let myOption = myChart.getOption();
        for(let j=0; j < fields.length; ++j) {
          myOption.series[j].data = [0];
        }
        
        date = new Date().toLocaleString();
        myOption.xAxis[0].data= [date];
        myChart.setOption(myOption, true);
    }

    function receiveMessage(e) {
      //alert(e.origin + ' : ' + JSON.stringify(e.data));
      refreshLoraLineData(e.data)
    }
 
      // 監聽 message 事件
      window.addEventListener('message', receiveMessage, false);
  </script>
</body>
</html>