<html>
  <head>
   
  </head>
  <body>
    <!--<input id="input2" type="text" onchange="changeValue(this.value)">-->
    <div id="chart_div" style="width: 180px; height: 180px;"></div>
    <input id="colors" type="hidden" value="<%= JSON.stringify(colors) %>">
    <input id="optionSet" type="hidden" value="<%= JSON.stringify(optionSet) %>">
  </body>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      
      var field = "<%= field %>";
      var colors = JSON.parse(document.getElementById("colors").value);
      var optionSet = JSON.parse(document.getElementById("optionSet").value);
      var data = null;
      var chart = null;
      var options = getGoogleGaugeOption(optionSet,colors);

      function getGoogleGaugeOption(optionSet, colors) {

        
        var v1 = optionSet.min;
        var v2 = (optionSet.area2*optionSet.max)/100
        var v3 = (optionSet.area3*optionSet.max)/100
        var v4 = optionSet.max;
        var options = {
          gauge:1,
          min:optionSet.min ,max:optionSet.max,
          width: 240, height: 180,
          yellowFrom:v1, yellowTo: v2,
          yellowColor: colors[optionSet.color1].color,
          greenFrom:v2,greenTo:v3,
          greenColor: colors[optionSet.color2].color,
          redFrom: v3, redTo: v4,
          redColor: colors[optionSet.color3].color,
          minorTicks: 5
        };

       
        return options
      }
      


      google.charts.setOnLoadCallback(drawChart);
      
      function changeValue(value) {
        if(typeof(value)=== 'string') ;
          value = parseFloat(value);
        data.setValue(0, 1, value);
        chart.draw(data, options);
      }

      function drawChart() {

        var data1 = [
          ['Label', 'Value'],
          ['溫度', 24.2]
        ];

        if(optionSet.field === 'o2') {
            data1 = [
            ['Label', 'Value'],
            ['溶解氧', 7.5]
          ];
        } else if(optionSet.field === 'nh') {
            data1 = [
            ['Label', 'Value'],
            ['氨氮', 0.2]
          ];
        }  else if(optionSet.field === 'ec') {
            data1 = [
            ['Label', 'Value'],
            ['電導率', 1200]
          ];
        }  else if(optionSet.field === 'ph') {
            data1 = [
            ['Label', 'Value'],
            ['PH值', 6.7]
          ];
        }
        data = google.visualization.arrayToDataTable(data1);

        chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        function changeValue(value) {
          data.setValue(0, 1, value);
          chart.draw(data, options);
	      }

        /*setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);*/
      }
    </script>
</html>