<html>
  <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      var tag = <%= tag %>  ;
      var data = null;
      var chart = null;
      var options = {
          min:0,max:40,
          width: 240, height: 180,
          redFrom: 28, redTo: 40,
          greenFrom:20,greenTo:28,
          greenColor:'#7AF018',
          yellowFrom:0, yellowTo: 20,
          yellowColor:'#18F0E0',
          minorTicks: 5
        };

      if(tag === 2) {
        options = {
          min:0,max:20,
          width: 240, height: 180,
          redFrom: 10, redTo: 20,
          greenFrom:5,greenTo:10,
          greenColor:'#7AF018',
          yellowFrom:0, yellowTo: 5,
          yellowColor:'#18F0E0',
          minorTicks: 5
        };
      } 


      google.charts.setOnLoadCallback(drawChart);
      
      function changeValue(value) {
        if(typeof(value)=== 'string') ;
          value = parseFloat(value);
        data.setValue(0, 1, value);
        chart.draw(data, options);
      }

      function drawChart() {

        var data1 = [
          ['Label', 'Value'],
          ['溫度', 24.2]
        ];

        if(tag === 2) {
          data1 = [
          ['Label', 'Value'],
          ['溶解氧', 7.5]
        ];
        }
        data = google.visualization.arrayToDataTable(data1);

        chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        function changeValue(value) {
          data.setValue(0, 1, value);
          chart.draw(data, options);
	      }

        /*setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);*/
      }
    </script>
  </head>
  <body>
    <!--<input id="input2" type="text" onchange="changeValue(this.value)">-->
    <div id="chart_div" style="width: 180px; height: 180px;"></div>
  </body>
</html>